@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Akzidenz;
        font-style: normal;
        font-weight: 700;
        src: url('/fonts/akzidenz/AkzidenzGroteskPro-BoldEx.otf') format('opentype');
    }
    @font-face {
        font-family: Akzidenz;
        font-style: normal;
        font-weight: 500;
        src: url('/fonts/akzidenz/AkzidenzGroteskPro-Md.otf') format('opentype');
    }
    @font-face {
        font-family: Akzidenz;
        font-style: normal;
        font-weight: 400;
        src: url('/fonts/akzidenz/AkzidenzGroteskPro-Regular.otf') format('opentype');
    }
    html {
        font-family: Akzidenz, sistem-ui, sans-serif;
    }
}

@layer components {
    #app {
        @apply flex flex-col h-screen justify-center items-center dark:text-white dark:bg-zinc-800;
    }

    .logo {
        @apply text-2xl sm:text-4xl md:text-5xl font-bold;
    }

    .button-primary {
        @apply bg-slate-200 rounded-md font-medium px-5 py-2 dark:text-sky-200 dark:border-2 dark:bg-transparent dark:border-sky-200 dark:hover:bg-transparent dark:hover:shadow-[0_0_2px_#fff,inset_0_0_2px_#fff,0_0_5px_#08f,0_0_15px_#08f,0_0_30px_#08f] hover:bg-slate-300;
    }
}
